version: "3.7"

services:
  db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USERNAME=root
      - MYSQL_PASSWORD=root
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b '0.0.0.0'"
    ports: 
      - 3000:3000
    environment:
      - DB_HOST=db
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - DB_PORT=3306
    volumes:
      - .:/code
    depends_on:
      - db
    